.bg-blue{ background-color: aqua;}
.text-white{ color: white;}
.bg-yellow{ background-color: yellow;}
.text-dark{color: black;}
.bg-light{ background-color: burlywood;}
.imgcan{ width: 90px; 
height: 90px;
border: 1px solid black;
}
